body {text-align: center;
font-family: 'Times New Roman', Times, serif;}

img {width: 400px;
     height: 250px;
    border-radius: 30px;}

#list1 {text-align: left;}

#list2 {text-align: left;}

li {}

h3 { border: 2px solid brown;
background-color: wheat;}